<h2>Airline: </h2><h3><%=@airline%></h3>
<h2>Flight Number: </h2><h3><%=@flightnumber%></h3>
<h2>Destination: </h2><h3><%=@destination%></h3>
<h2>Departure Time: </h2><h3><%=@departuretime%></h3>

<form action='/' method='get'>
  <button type='submit'>Go Back</button>
</form>