<header>
  <title>Flight Tracker</title>
  <h1>Flight Tracker</h1>
</header>

<form action='/data' method='post'>
  <ul style='list-style-type: none'>
    <li>
      <label for='Airline'>Airline:</label>
      <input type='text' name='airline'/>
    </li>
    <li>
      <label for='Destination'>Destination:</label>
      <input type='text' name='destination'/>
    </li>
    <li>
      <button type='submit'>Submit</button>
    </li>
  </ul>
</form>